.information {
    width: 100%;
    &__body {
        width: 90%;
        margin: 0px auto;
        
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__coloumn {
        display: flex;
        width: 400px;
        height: 350px;
        background: $orange;
    }
}

.item-information {
    &__title {
        padding: 20px 0 0 20px;
    }
    &__text {
        padding: 25px 10px 0 20px;
    }
}
