.mainPromotion{
    width: 100%;
    display: flex;
    &__body {
        display: flex;
        width: 90%;
        margin: 0px auto;
    }

    &__area {
    display: flex;
    justify-content: space-between;
    
    margin-top: 4%;
        img{
            border-radius: 30px;
            width: 100%;
        }
    }
}