@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {

  #{$footer-selector} {
    margin: 0 auto;
    
    width: 90%;
  }
}

@include sticky-footer(100%);

.footer {
  &__area {
    height: 100%;
    display: flex;
    background-color: $black;
    color: $white;
  }

  &__nav {
    width: 20%;

    ul {
      list-style-type: none;
      padding: 0 0 0 10%;
    }

    li+li {
      margin-top: 8%;
    }
  }

  &__info {
    width: 30%;
    padding-left: 0px;

    ul {
      list-style-type: none;  
    }

    li+li {
      margin-top: 5%;
    }
  }
}

.payment_options {
  display: flex;

  &__area {
    align-self: flex-end;

    img {
      width: 400px;
    }
  }
}


.social-media {
  display: flex;
  justify-content: flex-end;
  margin-left: 6em;

  &__title {
    text-align: center;
  }

  &__body {
    width: 100%;
    align-self: flex-end;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
