@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {

  #{$footer-selector} {
    margin: 0 auto;
    height: 290px;
    width: 90%;
  }
}

@include sticky-footer(290px);


.footer {
  &__area {
    height: 100%;
    display: flex;
  }

  &__nav {
    width: 20%;

    ul {
      list-style-type: none;
      padding: 20px 0px 0px 0px;
    }

    li+li {
      margin-top: 20px;
    }
  }

  &__info {
    width: 30%;
    
    padding-left: 0px;
    
    ul {
      list-style-type: none;
      padding: 20px 0px 0px 0px;
    }

    li+li {
      margin-top: 20px;
    }
  }
}

.payment_options {
  display: flex;

  &__area {
    align-self: flex-end;

    img {
      width: 400px;
    }
  }
}


.social-media {
  display: flex;
  background-color: yellow;
  &__body {
    background-color: green;
    margin-left: 150px;
    height: 102px;
    width: 220px;
    align-self: flex-end;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__coloumn {}
}
